h1 {
    color: blue;
}

img {
    height: 200px;
    border-radius: 15px;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

h2 {
    padding: 20px;
    padding-bottom: 0;
}

ul {
    margin-top: 0;
}

ol {
    margin-top: 0;
}